<!-- Sidebar  -->

         <div class="iq-sidebar">
            <div class="iq-sidebar-logo d-flex justify-content-between">
               <a href="/" class="header-logo">
                  <img src="/images/logo.png" class="img-fluid rounded-normal" alt="">
                  <div class="logo-title">
                     <span class="text-primary text-uppercase">Booksto</span>
                  </div>
               </a>
               <div class="iq-menu-bt-sidebar">
                  <div class="iq-menu-bt align-self-center">
                     <div class="wrapper-menu">
                        <div class="main-circle"><i class="las la-bars"></i></div>
                     </div>
                  </div>
               </div>
            </div>
            <div id="sidebar-scrollbar">
               <nav class="iq-sidebar-menu">
                  <ul id="iq-sidebar-toggle" class="iq-menu">
                     <li class="active active-menu">
                        <a href="#dashboard" class="iq-waves-effect" data-toggle="collapse" aria-expanded="true"><span class="ripple rippleEffect"></span><i class="las la-home iq-arrow-left"></i><span>Shop</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="dashboard" class="iq-submenu collapse show" data-parent="#iq-sidebar-toggle">
                           <li class="active"><a href="/"><i class="las la-house-damage"></i>Home Page</a></li>
                           <li><a href="/category"><i class="ri-function-line"></i>Category Page</a></li>
                           <li><a href="/book-page"><i class="ri-book-line"></i>Book Page</a></li>
                           <li><a href="/book-pdf"><i class="ri-file-pdf-line"></i>Book PDF</a></li>
                           <li><a href="/Checkout"><i class="ri-checkbox-multiple-blank-line"></i>Checkout</a></li>
                          <li><a href="/wishlist"><i class="ri-heart-line"></i>wishlist</a></li>
                        </ul>
                     </li>
                     <li>
                        <a href="#admin" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false"><span class="ripple rippleEffect"></span><i class="ri-admin-line"></i><span>Admin</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="admin" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                           <li><a href="/admin-dashboard"><i class="ri-dashboard-line"></i>Dashboard</a></li>
                           <li><a href="/admin-category"><i class="ri-list-check-2"></i>Category Lists</a></li>
                           <li><a href="/admin-author"><i class="ri-file-user-line"></i>Author</a></li>
                           <li><a href="/admin-books"><i class="ri-book-2-line"></i>Books</a></li>
                        </ul>
                     </li>
                     <li>
                        <a href="#userinfo" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false"><span class="ripple rippleEffect"></span><i class="las la-user-tie iq-arrow-left"></i><span>User</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="userinfo" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle" style="">
                           <li><a href="/profile"><i class="las la-id-card-alt"></i>User Profile</a></li>
                           <li><a href="/profile-edit"><i class="las la-edit"></i>User Edit</a></li>
                           <li><a href="/add-user"><i class="las la-plus-circle"></i>User Add</a></li>
                           <li><a href="/user-list"><i class="las la-th-list"></i>User List</a></li>
                        </ul>
                     </li>
                    
                     <li>
                        <a href="#pages" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="las la-file-alt iq-arrow-left"></i><span>Pages</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="pages" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                           <li>
                              <a href="#authentication" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-pages-line"></i><span>Authentication</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                              <ul id="authentication" class="iq-submenu collapse" data-parent="#pages">
                                 <li><a href="/sign-in"><i class="las la-sign-in-alt"></i>Login</a></li>
                                 <li><a href="/sign-up"><i class="ri-login-circle-line"></i>Register</a></li>
                                 <li><a href="/pages-recoverpw"><i class="ri-record-mail-line"></i>Recover Password</a></li>
                                 <li><a href="/pages-confirm-mail"><i class="ri-file-code-line"></i>Confirm Mail</a></li>
                                 <li><a href="/pages-lock-screen"><i class="ri-lock-line"></i>Lock Screen</a></li>
                              </ul>
                           </li>
                           <li>
                              <a href="#extra-pages" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-pantone-line"></i><span>Extra Pages</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                              <ul id="extra-pages" class="iq-submenu collapse" data-parent="#pages">
                                 <li><a href="/pages-timeline"><i class="ri-map-pin-time-line"></i>Timeline</a></li>
                                 <li><a href="/pages-invoice"><i class="ri-question-answer-line"></i>Invoice</a></li>
                                 <li><a href="/blank-page"><i class="ri-invision-line"></i>Blank Page</a></li>
                                 <li><a href="/pages-error"><i class="ri-error-warning-line"></i>Error 404</a></li>
                                 <li><a href="/pages-error-500"><i class="ri-error-warning-line"></i>Error 500</a></li>
                                 <li><a href="/pages-pricing"><i class="ri-price-tag-line"></i>Pricing</a></li>
                                 <li><a href="/pages-maintenance"><i class="ri-archive-line"></i>Maintenance</a></li>
                                 <li><a href="/pages-comingsoon"><i class="ri-mastercard-line"></i>Coming Soon</a></li>
                                 <li><a href="/pages-faq"><i class="ri-compasses-line"></i>Faq</a></li>
                              </ul>
                           </li>
                        </ul>
                     </li>
                     <li>
                        <a href="#menu-level" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-record-circle-line iq-arrow-left"></i><span>Menu Level</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="menu-level" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                           <li><a href="#"><i class="ri-record-circle-line"></i>Menu 1</a></li>
                           <li>
                              <a href="#"><i class="ri-record-circle-line"></i>Menu 2</a>
                              <ul>
                                 <li class="menu-level">
                                    <a href="#sub-menus" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-play-circle-line"></i><span>Sub-menu</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                                    <ul id="sub-menus" class="iq-submenu iq-submenu-data collapse">
                                       <li><a href="#"><i class="ri-record-circle-line"></i>Sub-menu 1</a></li>
                                       <li><a href="#"><i class="ri-record-circle-line"></i>Sub-menu 2</a></li>
                                       <li><a href="#"><i class="ri-record-circle-line"></i>Sub-menu 3</a></li>
                                    </ul>
                                 </li>
                              </ul>
                           </li>
                           <li><a href="#"><i class="ri-record-circle-line"></i>Menu 3</a></li>
                           <li><a href="#"><i class="ri-record-circle-line"></i>Menu 4</a></li>
                        </ul>
                     </li>
                  </ul>
               </nav>
               <div id="sidebar-bottom" class="p-3 position-relative">
                  <div class="iq-card">
                     <div class="iq-card-body">
                        <div class="sidebarbottom-content">
                           <div class="image"><img src="/images/page-img/side-bkg.png" alt=""></div>                           
                           <button type="submit" class="btn w-100 btn-primary mt-4 view-more">Become Membership</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>