<section class="sign-in-page">
            <div class="container p-0">
                <div class="row no-gutters height-self-center">
                  <div class="col-sm-12 align-self-center page-content rounded">
                    <div class="row m-0">
                      <div class="col-sm-12 sign-in-page-data">
                          <div class="sign-in-from bg-primary rounded">
                                <img src="/images/login/mail.png" width="80"  alt="">
                                <h3 class="mt-3 mb-0 text-white">Success !</h3>
                                <p class="text-white">A email has been send to youremail@domain.com. Please check for an email from company and click on the included link to reset your password.</p>
                                <div class="d-inline-block w-100">
                                    <a href="/" class="btn btn-white mt-3">Back to Home</a>
                                </div>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </section>
     