<section class="sign-in-page">
            <div class="container p-0">
                <div class="row no-gutters height-self-center">
                  <div class="col-sm-12 align-self-center page-content rounded">
                    <div class="row m-0">
                      <div class="col-sm-12 sign-in-page-data">
                          <div class="sign-in-from bg-primary rounded">
                                <h3 class="mb-0 text-white">Reset Password</h3>
                                <p class="text-white">Enter your email address and we'll send you an email with instructions to reset your password.</p>
                                <form action="sign-in.html" class="mt-4 form-text">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control mb-0" id="exampleInputEmail1" placeholder="Enter email">
                                    </div>
                                    <div class="d-inline-block w-100">
                                        <button type="submit" class="btn btn-white">Reset Password</button>
                                    </div>
                                </form>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </section>
        <!-- Sign in END -->
         <!-- color-customizer -->
 